.row{
	background-color: #c8e6c9 !important;
}

#cabecera{
	margin: 0;
}

#chat_logo{
	height: 65px;
	width: 120px;
}

#contactos{

	font-size: 23px;
	text-align: center;
	float: left;
}

textarea.materialize-textarea{

	resize: vertical !important;
	height: 400px !important;
	background-color: #EEECEC !important;
}

body{
	background-color: #c8e6c9 !important;
}