
#cabecera{
	margin: 0;
}

#chat_logo{
	height: 65px;
	width: 120px;
}

#contactos{

	font-size: 23px;
	text-align: center;
}

#bandeja{
	background-color: #F4F3F3;
	height: 470px;
	overflow-y: scroll;
}

.izquierdo{
float: left;
}

.derecho{
float: right;
}

.estilito{
	border: none;
}
