
#cabecera{
	margin: 0;
}

#chat_logo{
	height: 65px;
	width: 120px;
}
.icon-lis{
	
	height: 100%;
	width: 100%;
	color: gray;
}
#contactos{

	font-size: 23px;
	text-align: center;
}

#bandeja{
	background-color: #F4F3F3;
	height: 80%;
	overflow-y: scroll;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #bandeja {
        height: 60%;
        overflow-y: scroll;
    }
}
.izquierdo{
float: left;
}

.derecho{
float: right;
}

.estilito{
	border: none;
}
