html,body {
    height: 100%;
      margin: auto;
}

#login {
  position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}
.margin {
  margin: 0 !important;
}
.no-show{
  display:none !important;
}
